* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* sharing effect */
.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.clear {
  clear: both;
}

.col {
  float: left;
  padding: 0 8px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333%;
}

.row {
  margin: 0 -8px;
}

.row::after {
  content: "";
  clear: both;
  /* Để clear thành công cần có display */
  display: block;
}
/* separate effect */

#main {
}

#header {
  background-color: #000;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#content {
}

#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
}

#content .content-heading {
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0;
  letter-spacing: 5px;
}

#content .content-sub-heading {
  margin: 18px 0;
  opacity: 0.6;
  font-style: italic;
}

#content .content-desc {
  text-align: justify;
  margin: 15px 0;
  line-height: 1.4;
  font-size: 15px;
}

#content .member-list {
  padding: 32px 0;
  text-align: center;
}

#content .member-name {
  text-align: center;
  margin: 15px 0;
}

.member-img {
  width: 154px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
}

.tickets-booking {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.tickets-booking li {
  color: #757575;
  font-size: 15px;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-booking .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 4px 12px;
  margin-left: 7px;
}

.tickets-booking .quantity {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  float: right;
  margin-top: -3px;
  margin-right: -3px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.tour-section .places-list {
  margin-top: 32px;
}

.tour-section .place-item {
  width: 33.33333%;
}

.tour-section .place-img {
  width: 100%;
  display: block;
}

.tour-section .place-img:hover {
  opacity: 0.6;
}

.tour-section .place-infor {
  background-color: #fff;
  padding: 16px;
}
.tour-section .place-name {
  font-weight: 600;
  line-height: 1.5;
}

.tour-section .place-time {
  margin-top: 15px;
  color: #757575;
}

.tour-section .place-desc {
  margin-top: 15px;
  line-height: 1.6;
}

.tour-section .place-buy-button {
  margin-top: 15px;
  background-color: #000;
  color: #fff;
  width: 108px;
  height: 39px;
  padding: 10px 16px;
  display: inline-block;
  font-size: 14px;
}

/* Modal window */

.modal-win {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal-win.open {
  display: flex;
}

.modal-container {
  position: relative;
  width: 900px;
  max-width: calc(100% - 32px);
  /* min-height: 200px; */
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 24px;
  padding: 16px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: red;
}

.modal-header {
  background: #009688;
  color: #fff;
  height: 130px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.modal-header .ti-bag {
  margin-right: 15px;
}

.modal-body {
  padding: 16px;
  font-size: 15px;
}

.modal-label {
  margin: 8px 0;
}

.modal-input {
  display: block;
  margin: 16px 0;
  width: 100%;
  height: 40px;
  padding: 8px;
}

#buy-tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  margin: 16px 0;
  font-weight: 700;
  background: #009688;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

#buy-tickets .ti-check {
  font-weight: 900;
  margin-left: 4px;
}

#buy-tickets:hover {
  background-color: #ccc;
  color: #000;
  font-weight: 900;
}
.modal-footer {
  text-align: right;
  margin: 0px 15px 20px;
}

.modal-footer a {
  color: #2196f3;
}

.contact-section {
  margin: 48px 0;
}

.contact-left {
  font-size: 18px;
  line-height: 1.5;
}

.contact-left i[class*="ti-"] {
  margin-right: 10px;
  font-weight: 900;
  color: #000;
  /* Cách 2, sử dụng khi margin ko thể xử lý dc
  width: 30px;
  display: inline-block;

  */
}

.contact-right {
  font-size: 15px;
}

.contact-right .form-control {
  padding: 8px;
  border: 2px solid #ccc;
  width: 100%;
}

.contact-right .row-1st {
  margin-bottom: 8px;
}

.contact-right .contact-btn-send {
  float: right;
  font-size: 15px;
  margin: 16px 0;
  padding: 10px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-medias {
  font-size: 24px;
}

#footer .social-medias a {
  text-decoration: none;
  color: #757575;
}
#footer .copyright a,
#footer .social-medias a:hover {
  opacity: 0.5;
}

#footer .copyright {
  font-size: 15px;
  margin: 15px 0;
  color: #757575;
}
